
<nav class="navbar navbar-light bg-info">

<div class = "container-fluid">
  <h4>Reactive Forms</h4>
  <button type="button" data-toggle="modal" data-target="#key" class="btn btn-success">Register Here</button>
</div>

</nav>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of  registerData">
      <td>{{row.Name}}</td>
      <td>{{row.EmailAddress}}</td>
      <td>{{row.Password}}</td>
    </tr>
  </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="key" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registration Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="Name" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" formControlName="EmailAddress" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
      <input type="password" formControlName="Password" class="form-control" id="password">
         </div>
          
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id = "cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="postregisterdetails()">Save</button>
      </div>
    </div>
  </div>
</div>
<app-login></app-login>
<router-outlet></router-outlet>